@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?cb93hh");
  src: url("fonts/icomoon.eot?#iefixcb93hh") format("embedded-opentype"), url("fonts/icomoon.woff?cb93hh") format("woff"), url("fonts/icomoon.ttf?cb93hh") format("truetype"), url("fonts/icomoon.svg?cb93hh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: "IcoMoon";
  src: url("font/icomoon.eot");
  src: url("font/icomoon.eot?#iefix") format("embedded-opentype"), url("font/icomoon.woff") format("woff"), url("font/icomoon.ttf") format("truetype"), url("font/icomoon.svg#icomoon") format("svg"); }

.icon-home {
  content: "\68";
  margin-right: 10px; }

.icon-accessibility {
  content: "\6b";
  margin-right: 10px; }

.icon-bookmark {
  content: "\79";
  margin-right: 10px; }

.icon-info2 {
  content: "\5a";
  margin-right: 10px; }

.icon-heart3 {
  content: "\51";
  margin-right: 10px; }

.icon-heart4 {
  content: "\52";
  margin-right: 10px;
  color: #e8d0a9;
  font-weight: bold; }

.icon-subtract {
  content: "\4a";
  margin-right: 10px; }

.icon-illinois {
  content: "\4e"; }

.icon-clinic {
  content: "\6f"; }

.icon-congress {
  content: "\6c"; }

.icon-navicon {
  content: "\73"; }

.icon-coin {
  content: "\6d"; }

.icon-location {
  content: "\71"; }

.icon-map {
  content: "\61"; }

.icon-bubbles {
  content: "\64"; }

.icon-search {
  content: "\69"; }

.icon-food {
  content: "\6a"; }

.icon-travel {
  content: "\e600"; }

.icon-thumbs-up {
  content: "\30"; }

.icon-smiley {
  content: "\32"; }

.icon-wondering {
  content: "\33"; }

.icon-point-up {
  content: "\34"; }

.icon-point-right {
  content: "\35"; }

.icon-point-down {
  content: "\36"; }

.icon-point-left {
  content: "\37"; }

.icon-checkbox-checked {
  content: "\38"; }

.icon-checkbox-unchecked {
  content: "\39"; }

.icon-radio-checked {
  content: "\41"; }

.icon-radio-unchecked {
  content: "\42"; }

.icon-share {
  content: "\43"; }

.icon-mail {
  content: "\44"; }

.icon-googleplus {
  content: "\45"; }

.icon-facebook {
  content: "\46"; }

.icon-twitter {
  content: "\47"; }

.icon-feed {
  content: "\48"; }

.icon-add {
  content: "\49"; }

.icon-key {
  content: "\4b"; }

.icon-bubble {
  content: "\4c"; }

.icon-food2 {
  content: "\4d"; }

.icon-users {
  content: "\4f"; }

.icon-link2 {
  content: "\56"; }

.icon-clipboard {
  content: "\59"; }

.icon-help {
  content: "\58"; }

.icon-video {
  content: "\57"; }

.icon-arrow-down {
  content: "\53"; }

.icon-arrow-up {
  content: "\54"; }

.icon-arrow-down2 {
  content: "\50"; }

.icon-arrow-up2 {
  content: "\31"; }

.icon-arrow-down3 {
  content: "\67";
  font-size: 2em; }

.icon-arrow-up3 {
  content: "\55";
  font-size: 2em; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  max-width: 70%;
  margin: 30px auto; }

header {
  background: #e8d0a9;
  border: solid 1px #ff9933;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  content: "";
  display: table;
  clear: both; }
  header h1 {
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin-left: 20px;
    font-weight: normal;
    line-height: 60px;
    vertical-align: middle; }

#formContainer {
  border: solid 1px #6d929b;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 20px 50px;
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  line-height: 18px;
  background: #c1dad6;
  border-radius: 5px;
  position: relative; }
  #formContainer div .Aoption {
    display: block; }
  #formContainer:after {
    content: "";
    display: table;
    clear: both; }

.button {
  background: #6d929b;
  position: relative;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  bottom: 0px;
  right: 0px;
  margin: 20px 0; }
  .button p {
    text-align: center; }

/* Hiding default checkbox and Radio button design */
