#formContainer {
	width: 75%;
	background-color: rgba(237, 167, 92, .7);
	border-radius: 10px;
	margin: 0 auto;
	padding: 30px;
}

#start {
	display: block;
}

.form {
	margin: 0 auto;
	display: none;
}

.form label {
	display: block;
}

