/* Fonts */
@font-face {
  font-family: "EntypoRegular";
  src: url("font/Entypo-webfont.eot");
  src: url("font/Entypo-webfont.eot?#iefix") format("embedded-opentype"), url("font/Entypo-webfont.woff") format("woff"), url("font/Entypo-webfont.ttf") format("truetype"), url("font/Entypo-webfont.svg#Entypo-webfont") format("svg"); }
.column-1 {
  display: inline-block;
  padding: 10px;
  width: 3em;
  font-size: 1em; }

.column-2 {
  display: inline-block;
  padding: 10px;
  width: 6em;
  font-size: 2em; }

.column-3 {
  display: inline-block;
  padding: 10px;
  width: 9em;
  font-size: 3em; }

.ada-bg {
  background-image: url("../../images/ada_bg.png"); }

.grace-bg {
  background-image: url("../../images/grace_bg.png"); }

.frances-bg {
  background-image: url("../../images/frances_bg.png"); }

.barbara-bg {
  background-image: url("../../images/barbara_bg.png"); }

.anita-bg {
  background-image: url("../../images/anita_bg.png"); }

.maria-bg {
  background-image: url("../../images/maria_bg.png"); }

footer nav .icon.youtube {
  background-position: 0px 0px; }

footer nav .icon.twitter {
  background-position: -32px 0px; }

footer nav .icon.rss {
  background-position: -64px 0px; }

footer nav .icon.flickr {
  background-position: -96px 0px; }

footer nav .icon.facebook {
  background-position: -128px 0px; }

footer nav .icon.print {
  background-position: -160px 0px; }

footer nav .icon.youtube {
  background-position: 0px 0px; }

footer nav .icon.twitter {
  background-position: -32px 0px; }

footer nav .icon.rss {
  background-position: -64px 0px; }

footer nav .icon.flickr {
  background-position: -96px 0px; }

footer nav .icon.facebook {
  background-position: -128px 0px; }

footer nav .icon.print {
  background-position: -160px 0px; }

/* General Styles */
body {
  background-color: #f1f1f1;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 auto;
  width: 100%; }

section {
  display: block; }
  section:after {
    /* clearfix hack */
    content: "";
    display: table;
    clear: both; }

p {
  margin: 1em; }

a {
  color: #1D766F;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

a:hover {
  color: #BC2F36; }

h1 {
  font-family: 'Droid Sans';
  /*font-family: 'Audiowide', cursive;*/
  font-size: 3.5em;
  float: left;
  line-height: 75px;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.25); }

h2 {
  background-color: #eda75c;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.4em;
  font-weight: 400;
  line-height: 80px;
  margin: 0 0 0.5em 0;
  text-align: center; }

h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  margin: 0 0 0.3em 0;
  text-align: center; }

h4 {
  color: #787878;
  font-size: 1em;
  text-align: center; }

/* Navigation */
nav li {
  float: left; }
nav a {
  color: #fff;
  margin: 0 10px;
  padding: 5px 10px;
  text-decoration: none; }
  nav a:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: #FB000D; }

/* Header */
header {
  background-color: #009d92; }
  header #logo {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 35px;
    width: 150px;
    border-radius: 10px; }
  header nav {
    float: right;
    font-size: 1.2em;
    margin: 10px 20px; }
    header nav li {
      line-height: 75px; }
    header nav a {
      border-radius: 6px; }
      header nav a:hover {
        background-color: #fff; }
  header:after {
    /* clearfix hack */
    content: "";
    display: table;
    clear: both; }

/*Call to Action*/
#layoutFix {
  height: 480px; }

#callToAction div.wrapper {
  width: 100%;
  margin: 1em auto; }
  #callToAction div.wrapper #backgroundPhoto {
    width: 100%;
    box-shadow: 0px 0px 5px #000;
    display: block;
    position: relative;
    z-index: 0;
    top: -16px; }
  #callToAction div.wrapper aside {
    background-color: rgba(237, 167, 92, 0.7);
    text-shadow: 1px 1px 2px #009D92;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.4em;
    font-weight: 400;
    line-height: 80px;
    margin: 0 0 0.5em 0;
    text-align: center;
    width: 50%;
    margin: auto;
    position: relative;
    z-index: 1;
    bottom: 350px; }

/*DESIGN WISH LIST
- DIV STRIPES UNDER ABOVE ELEMENT TURNING INTO ARROW

.arrow_box {
  position: relative;
  background: #EDA75C;
  z-index: 1;
}
.arrow_box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(237, 167, 92, .8);
  border-top-color: #EDA75C;
  border-width: 30px;
  margin-left: -30px;
  z-index: 1;
}*/
/* Main */
#mainContent section {
  margin-bottom: 1em;
  position: relative; }
  #mainContent section div.wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto; }
  #mainContent section:after {
    content: "";
    display: table;
    clear: both; }

/* Pantry Finder */
#pantryFinder {
  background-color: rgba(142, 204, 122, 0.7);
  display: block;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  width: 40%;
  position: relative; }
  #pantryFinder h3 {
    position: relative;
    top: -10px; }
  #pantryFinder form input {
    display: block;
    margin: auto;
    position: relative; }
  #pantryFinder a.button {
    display: block;
    font-size: 3em;
    padding: 10px;
    margin: 5px auto;
    left: 30px;
    width: 200px;
    text-align: center; }
  #pantryFinder section:after {
    content: "";
    display: table;
    clear: both; }

/* Donate */
#donate h2 {
  text-shadow: 1px 1px 2px #009D92; }
  #donate h2 article {
    float: left;
    /*min-height: 250px;*/
    margin: auto; }
  #donate h2 section:after {
    content: "";
    display: table;
    clear: both; }

div.wrapper div.form {
  width: 70%;
  background-color: #009D92;
  padding: 30px;
  margin: 20px auto; }

/* Story */
#story div.wrapper {
  display: table;
  float: left;
  width: 85%;
  margin: 0 auto; }
#story h2 {
  text-shadow: 1px 1px 2px #009D92; }
#story div.textwrap {
  padding: 40px;
  margin: 30px auto; }
#story article {
  float: left;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  background-color: #8ecc7a;
  margin: 10px;
  display: inline-block; }
#story section:after {
  content: "";
  display: table;
  clear: both; }

/* Contact */
#contact {
  width: 100%;
  position: relative; }
  #contact h2 {
    text-shadow: 1px 1px 2px #009D92; }
  #contact div.wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px; }
    #contact div.wrapper article {
      margin: 0 auto; }

/* Footer */
footer {
  background-image: -webkit-linear-gradient(#00665f, #1d766f, #00665f);
  background-image: -moz-linear-gradient(#00665f, #1d766f, #00665f);
  background-image: linear-gradient(#00665f, #1d766f, #00665f); }

footer nav {
  float: left;
  font-size: 1.1em;
  margin: 10px; }

footer nav a:hover {
  box-shadow: none;
  color: #FFEECC; }

footer:after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both; }

/* Fonts */
@font-face {
  font-family: 'EntypoRegular';
  src: url("font/Entypo-webfont.eot");
  src: url("font/Entypo-webfont.eot?#iefix") format("embedded-opentype"), url("font/Entypo-webfont.woff") format("woff"), url("font/Entypo-webfont.ttf") format("truetype"), url("font/Entypo-webfont.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
/** Tablet view **/
@media screen and (max-width: 960px) {
  h1 {
    font-size: 1.1em;
    line-height: 40px; }

  header nav li {
    line-height: 40px; } }
/** Mobile view **/
@media screen and (max-width: 480px) {
  h1 {
    padding: 20px;
    line-height: 40px; }

  h1 span {
    display: none; }

  header nav {
    margin-left: 5px; }

  header nav li {
    line-height: 40px; }

  header nav li a {
    font-size: 0.9em;
    margin: 3px;
    padding: 1px; }

  #donate article {
    float: none;
    margin: 5px auto;
    padding: 2%;
    width: 80%; }

  h2 {
    font-size: 2.0em; }

  #story {
    height: auto; }

  #story ul li {
    max-width: 100%; }

  #story ul li img {
    display: none; }

  footer nav li {
    line-height: 40px; }

  footer nav li a {
    font-size: 0.9em;
    margin: 3px;
    padding: 1px; } }
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }
